MODEL_API_KEY=your_model_api_key_here
MODEL_NAME=your_model_name_here

INFLUXDB_TOKEN=your_local_token_key
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_ORG="medical"
INFLUXDB_BUCKET="medical_sensors"